* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
 
  
  body {
    background-image:url('./brige.jpg');
    background-size:cover;
    max-width:400px;
    padding: 1rem;
    margin: 0 auto;
  }
  .logo {
        display: block;
    margin: 0 auto;
    width: 100px; 
    border-radius: 50%;
    margin-bottom: 40px;
  }
  
  .new-item-form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.5rem;
    color:hsl(309, 57%, 27%);
    
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    color: brown;
    
  }
  
  .btn {
    background: hsla(42, 92%, 28%, 0.554);
    border: 1px solid hsl(203, 6%, 28%);
    color: hsl(200, 4%, 85%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
    margin-top: 2px;
  }
  
  .btn:hover,
  .btn:focus-visible {
    background: hsla(60, 92%, 5%, 0.497);
  }

  
  .btn.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
    
  }
  
  .btn.btn-danger:hover,
  .btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
  }
  
  .new-item-form input {
    outline: none;
    border: 1px solid hsl(289, 63%, 26%);
    background: hsl(340, 66%, 13%);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: hsl(244, 89%, 24%);
  }
  /*
  .new-item-form input:focus {
    border: 1px solid hsl(356, 90%, 35%);
  }*/
   /*Delete this*/
  .header {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .list {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
    
  }
  
  .list li:has(input:checked) label {
    color: hsl(200, 20%, 40%);
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
  }
  
  .list li {
    display: flex;
    gap: 0.3rem;
    /*align-items: center;*/
    background-color: white;
    padding: 12px 14px;
    justify-content: space-between;
    opacity: 0.8;
    

  }
  
  .list li label {
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    align-items: center;
  }
  /*Delete This*/
  .list li:has(input:focus-visible) label {
    outline: 1px solid hsl(200, 100%, 50%);
  }
  
  .list li input {
    outline: none;
    width: 0;
    height: 0;
    appearance: none;
    pointer-events: none;
    position: absolute;
  }
  /*this*/
  .list li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 20px;
    
  }
    /*this*/
  .list li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
  }
  
  .list li label::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background: hsl(200, 100%, 90%);
    border-radius: 0.80em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .list li label:hover::before {
    background: hsl(32, 45%, 34%);
    
  }
  
  .list li:has(input:checked) label::before {
    content: "✔";
    background: hsl(32, 45%, 34%);
    color: hsl(200, 100%, 90%);
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 0.80em;
  }
  
  .list li:has(input:checked) label:hover::before {
    background: hsl(32, 45%, 34%);
  }
  .task {
    margin-bottom: 10px;
  }
  
  .time-section {
    display: none;
    margin-top: 10px;
  }
  
  .show-time .time-section {
    display: block;
  }

  .Data {
    margin-top: 10px;
  }
  
  .Data button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 10px;
    cursor: pointer;
  }
  
  .Data button:hover {
    background-color: #45a049;
  }
  
  .Data div {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .Data div p {
    margin: 0;
    padding-bottom: 5px;
  }
  
  .Data div span {
    font-weight: bold;
  }  
  .time {
    font-size: 10px;;
    color: #460505;
    margin-bottom: 5px;
  }
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .button-group button {
    flex: 1;
  }